.com_example_footer {
  background-color: #274155;
  padding: 5px;
  color: #929EA8;
  height: 100%;
  width: 100%;
}

.com_example_footer a {
  text-decoration: none;
  color: #C8CED3;
}

.com_example_footer .highlight {
  text-decoration: underline;
}
