.com_example_footer {
  background-color: #274155;
  padding: 5px;
  color: #929EA8;
  height: 100%;
  width: 100%;
  a {
    text-decoration: none;
    color: #C8CED3;
  }
  .highlight {
    text-decoration: underline;
  }
}
